doctype html
html(lang='en-us' data-size=(cookies.size || 3) data-theme=(cookies.theme || 'light') data-font-family=(cookies.fontFamily || 'serif'))
  head
    block head
      block variables
      block resources
        link(rel="stylesheet" href="/assets/css/global.css")
      block meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=metaDescription)
        meta(property="og:title" content=(hardTitle || title))
        meta(property="og:type" content=(metaType || 'website'))
        meta(property="og:description" content=metaDescription)
        //-meta(property="og:image" content=metaImage)
        block title
          title= hardTitle || (title + " | See With Eyes Closed")
      link(rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico")
      noscript
        style.
          .--hide-noscript {
            display: none;
          }
  body
    block mixins
      include mixins/form.pug
      include mixins/verse.pug
      include mixins/settings.pug
    #column
      header
        block header
          h1= title || hardTitle

      block navbar
        nav#main-nav
          span#skip-nav: a.tab-only(href="#content") Skip Navigation
          |
          |
          block navbar-links
            span: a(href="/") Home
            |
            |
            span: a(href=config.blog.link title=("Visit " + config.blog.name) target="_blank" rel="noopener") Blog
            |
            |
            span: a(href="/projects/") Projects
            |
            |
            span: a(href="/writing/") Writing
      main#content(tabindex="-1")
        block content
          if (content)
            != md.render(content)
          else
            p This page does not seem to have any content. Check back later!
      +displaySettings
      block footer
        footer          
          p
            a(href="/social/") Social
            |  | 
            a(href="/customize-feed/") Customized RSS
            |  | 
            a(href="https://digest.seewitheyesclosed.com" target="_blank" rel="noopener") Digest
            |  | 
            a(href="https://github.com/benjaminbhollon/personal-website" target="_blank" rel="noopener") Code
          +verse
          p
            a(href="https://seewitheyesclosed.com/contact/" target="_blank" rel="noopener") Contact Me
            |  | 
            a(href="https://seewitheyesclosed.com/policies/privacy/" target="_blank" rel="noopener") Privacy Policy
            |  | 
            a(href="https://seewitheyesclosed.com/policies/cookies/" target="_blank" rel="noopener") Cookie Policy
            |  | 
            a(href="https://seewitheyesclosed.com/policies/terms/" target="_blank" rel="noopener") Terms of Use
